@import "tailwindcss";
@plugin "daisyui";


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
nav a.active {
  text-decoration: underline;
}
